html,
body {
  background-color: cornflowerblue;
  font-size: 1vw;
  margin: 0;
  height: 100vh;
  .container {
    display: grid;
    grid-template-columns: 50px auto;
    margin: 0;
    height: 100%;
    width: 100%;
    .left-container {
      display: flex;
      grid-area: 1/1;
      align-items: center;
      justify-content: center;

      height: 100%;
      width: 100%;
      nav {
        font-family: sans-serif;
        font-size: 0.8em;
        display: flex;
        color: peachpuff;
        bottom: 0;
        width: 50%;
        writing-mode: vertical-rl;
        text-orientation: upright;
        z-index: 2000;
      }
    }
    .center-container {
      grid-area: 1/2;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .text {
        display: flex;
        color: peachpuff;
      }
    }
  }
}
